<% wrap_layout :layout do %>
  <header class="pure-u-1">
    <p>Documentation</p>
    <h1><%= current_page.data.title %></h1>
  </header>

  <aside class="pure-u-1-4">
    <div class="anchorific"></div>
  </aside>

  <p><%= current_page.data.description %></p>
  <div class="pure-u-3-4 documentation">
    <%= yield %>
  </div>
<% end %>
