@import '_reset';
@import '_syntax';

$color-light-grey: #f4f5f8;
$color-dark-grey: #505961;
$color-blue: #347bff;
$color-semi-grey: #91989d;
$color-semi-semi-grey: #C8CBCE;
$color-dark-blue: #2E5779;

body {
  font-family: Helvetica, sans-serif;
  background: #fff;
  color: $color-dark-grey;
}

a {
  color: $color-blue;
  text-decoration: none;
}

.wrap {
  margin: 0 auto;
  width: 960px;
}

#header {
  background: $color-light-grey;
  margin-bottom: 2em;
  box-shadow: inset 0 -4px $color-semi-semi-grey;

  h1, ul, li, li a {
    display: inline-block;
  }

  h1, li a {
    line-height: 66px;
  }

  h1 a {
    color: $color-dark-grey;
  }

  li {
    margin-left: 20px;
    padding: 0 4px;

    a:hover, a.active {
      box-shadow: inset 0 -4px $color-dark-blue;
    }
  }

  h1 {
    font-size: 20px;
    padding-left: 33px;
    background: inline-image('build.svg') 0 50% no-repeat;
    background-size: 24px auto;
  }

  ul {
    float: right;
  }
}

ul.showcase {
  h2 {
    background: $color-light-grey;
    position: relative;
    width: 30%;
    height: 100px;
  }

  a {
    display: block;
    position: absolute;
    bottom: 0;
  }
}

ul.documentation {
  li {
    width: 30%;
  }
}
.highlight {
  background-color: $color-light-grey;
}
.content {
  line-height: 1.6;
  margin-bottom: 50px;

  h1 {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: .2em;
  }
  h2 {
    font-size: 24px;
    margin: .25em 0;
  }

  p {
    margin-bottom: .2em;
  }

  p, h2 {
    width: 60%;
  }

  th {
    font-weight: bold;
  }

  th, td {
    padding: 4px 8px;
    border: none;
    border-right: none;
    border-left: none;
    padding: .85em 1em .85em 1em;
  }



  pre {
    font-family: monospace;
    padding: 1em;
    width: 60%;
    overflow: auto;
    white-space: pre-wrap;                 /* CSS3 browsers  */
    white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
    white-space: -pre-wrap;                /* Opera 4 thru 6 */
    white-space: -o-pre-wrap;              /* Opera 7 and up */
    word-wrap: break-word;                 /* IE 5.5+ and up */
    /* overflow-x: auto; */                /* Firefox 2 only */
    /* width: 99%; */          /* only if needed */
    margin-top: .5em;
    margin-bottom: 2em;
  }

  table {
    width: 62%;

    thead {
      text-align: left;
      border-top: 0px;
      border-bottom: 2px solid $color-semi-semi-grey;
      background: $color-light-grey;
    }


    tr:nth-child(even) {background: $color-light-grey}
    tr:nth-child(2n+3) {background: #FFF}
  }

  a:hover {
    text-decoration: underline;
  }

  header {
    position: relative;
    min-height: 210px;
    border-bottom: 1px $color-semi-semi-grey solid;
    margin-bottom: 2em;

    h1 {
      font-size: 64px;
      width: 60%;
      margin-top: 4px;
      color: $color-blue;
      line-height: 70px;
      letter-spacing: -0.005em;
    }

    p {
      margin: 0;
      width: 60%;
      font-size: 20px;
      color: $color-semi-grey;
    }

    img {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
  }


  aside {
    margin: -2em 0em 2em;
    width: 230px;
    padding: 2em 0px 15px;
    float: right;
    background: $color-light-grey;
    box-shadow: 4px 0px $color-semi-semi-grey inset;

    li {
      padding-bottom: 20px;
    }

    h2 {
      font-size: 16px;
      width: 100%;
      font-weight: bold;
      padding-left: 20px;
    }
    a {
      display: inline-block;
      padding-left: 20px;
    }
    a:hover {
      text-decoration: none;
      box-shadow: 4px 0px $color-dark-blue inset;
    }
  }
}
