body {
    color: #777;
}

a {
    color: #347bff;
    text-decoration: none;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

#layout {
    position: relative;
    padding-left: 0;
}
    #layout.active {
        position: relative;
        left: 150px;
    }

.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.header {
     margin: 0;
     color: #333;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
 }
    .header h1 {
        color: #347bff;
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        color: #ccc;
        padding: 0;
        margin-top: 0;
    }

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}


#menu {
    margin: 0 auto;
    padding-left: 5em;
    margin-bottom: 2em;
    background: #f4f5f8;
    box-shadow: inset 0 -4px #c8cbce;
}

    #menu .pure-menu,
    #menu .pure-menu ul {
        border: none;
        background: transparent;
    }

    #menu .pure-menu ul li {
        margin-left: 20px;
        padding: 0 4px;
        line-height: 66px;
    }

    #menu .pure-menu a {
        color: #347bff;
        line-height: 66px;
        text-decoration: none;
    }

    #menu .pure-menu a:hover {
        background-color: transparent;
        box-shadow: inset 0 -4px #2E5779;
        color: #000;
    }

    #menu a.pure-menu-heading {
        padding-left: 33px;
        background: url('build.svg') 0 50% no-repeat;
        background-size: 24px auto;
        color: #505961;
        line-height: 66px;
    }

.content .pure-menu {
    width: 40%;
    float:right;
    margin: 0 2em;
}

.highlight {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}

/* for the live edit example */
#results {
    font-size: 80%;
    /*height: 35em;*/
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
}

    #results p {
        margin: 0;
        padding: 0.5em 1em;
        background: #f8f8f8;
    }

    #results a {
        color: #00f;
        text-decoration: none;
    }

    #results a:hover {
        text-decoration: underline;
    }

    #results pre {
        margin: 1em;
    }

#rate {
    color: #f50;
}

@media (min-width: 48em) {

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    .menu-link {
        position: fixed;
        display: none;
    }

}